<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 100px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
  }
=======
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 100px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
  }
>>>>>>> 10856681e4b442a69a15c61a8a5c8dbe88cff75e
  